<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace=base::layout(~{::section})>
<head>
	<meta charset="UTF-8" />
	<title th:text=${title}></title>
</head>
<body>
	<section>
	      <div id="login">
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-5">
                    <div id="login-box" class="col-md-12" style="height:190px">
                    <div class="container text-center m-3">
                        <h3>Change Password</h3>
                    </div>
                                        
                       <form action="#" th:action="@{/change-password}" method="post" >
                       
                       <!-- input field -->
                         <div class="form-group">
                         
                          <input type="text" required placeholder="Create Your New Password" name="getnewpassword" class="form-control" />
                         
                         </div>
                         <!-- button field -->
                          <div class="form-group text-center">
                                
                                <input type="submit" name="submit" class="btn btn-success btn-md" style="width:35%" value="Change Password">
                                                         
                            </div>
                       
                       </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    </section>
</body>
	
</body>
</html>