<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace=base::layout(~{::section})>
<head>
	<meta charset="UTF-8" />
	<title >check your email</title>
</head>
<body>
	<section>
	      <div id="login">
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-5">
                    <div id="login-box" class="col-md-12" >
                       <div class="alert alert-success mt-3 text-center"  role="alert">
                       We have send OTP to your Register Email id.
                        </div>
                        
                        <div th:if="${session.message}" class="container text-center" style="width:100% ">
        
                               <div  class="alert alert-danger text-center " role="alert">
          
                                  <span th:text="${session.message}"></span>
                                  <th:block th:text="${@sessionHelper.removeSessionFromHelper()}"></th:block>
                              </div>

                           </div>
                    
                       <form action="#" th:action="@{/verify-otp}" method="post" >
                       
                       <!-- input field -->
                         <div class="form-group">
                         
                          <input type="text" required placeholder="Enter OTP here" name="otp" class="form-control" />
                         
                         </div>
                         <!-- button field -->
                          <div class="form-group text-center">
                                
                                <input type="submit" name="submit" class="btn btn-success btn-md" style="width:30%" value="Verify OTP">
                                                         
                            </div>
                       
                       </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    </section>
</body>
	
</body>
</html>